#main-banner-container{
  
    width: 100%;
    height: $banner-height;
    padding: 25px 15px;
  }
  
  .carousel-item img{
    object-fit: cover;
  }
  
  .banner-emulator{
    width: 100%;
    height: $banner-height;
  }