.main-nav-menu {
    line-height: 55px;
    text-align: center;
}

.main-nav-menu-item {
    padding: 0 25px;
    font-size: $font-size-normal;
    font-weight: 500;
    a {
        color: #718b66!important;
    }
}

.main-nav-menu-item>a:hover {
    color: $main-color-orange!important;
}

.active-page,
.active-page>a {
    color: $main-color-orange!important;
    font-weight: 600;
}