#banner-and-cat-container{
    min-height: $banner-height;

    .banner-col{
        height: $banner-height;
    }
    .carousel-inner {
        img {
            height: $banner-height;
            object-fit: cover;
        }
    }
}