#top-nav-container{
    background-color: $top-navbar-backround;
}

#top-nav-inner-container{
    height: $top-nav-height;
    padding: 18px 0;
}

.top-nav-contents-container{
    width: auto;
}

.top-nav-content-item{
    margin-left: 25px;
}
.top-nav-content-item:first-child{
    margin-left: 0px;
}

.top-nav-content-item img {
    width: auto;
    height: 24px;
}