
@font-face {
    font-family: Rubik-Black;
    src: url('/fonts/Rubik-Regular.ttf');
}

$text-color-1: #5dba23;
$text-color-2: #ff7f50;

$text-main-font: 'Rubik';


// #######globals#####
.container-maxw{
    max-width: calc(100vw - 10%);
}

button{
    background-color: #738d66!important;
    border-color: #738d66!important;
}

// #######globals#####


a, span, p, div{
    font-family: $text-main-font;
}

.main_nav {
    width: 100%;
    border-top: solid 1px #f2f2f2;
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
    background: #fff;
}

.main_nav_content {
    width: 100%;
    height: 60px;
}

.cat_menu_container {
    width: 293px;
    height: 100%;
    background: $text-color-2;
    padding-left: 35px;
    cursor: pointer;
    z-index: 1;
    position: relative;
}

.cat_menu_title {
    height: 100%;
}
.cat_burger {
    width: 18px;
    height: 14px;
}
.cat_menu_text {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    margin-left: 20px;
}

.cat_menu_container  ul {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    background: #fff;
    box-shadow: 0 10px 25px rgb(0 0 0 / 10%);
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: all .3s ease;
}

.cat_menu_container > ul {
    padding-top: 13px;
    padding-left: 0px;
    display: none;
}

.cat_menu_container:hover > ul {
    display: block;
}


.contact_info_item {
    height: 100px;
    border: solid 1px #e8e8e8;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
    padding: 0 40px;
    margin: 0 40px;

}

.contact_form {
    padding-top: 85px;
}

.contact_form_title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 37px;
}

.contact_form_inputs {
    margin-bottom: 30px;
}

.input_field {
    width: calc((100% - 60px) / 3);
    height: 50px;
    padding-left: 25px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    outline: none;
    color: #0e8ce4;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.text_field {
    width: 100%;
    height: 160px;
    padding-left: 25px;
    padding-top: 15px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    color: #0e8ce4;
    outline: none;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.contact_submit_button {
    padding-left: 35px;
    padding-right: 35px;
    color: #fff;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 24px;
}

.contact_form_title{
    font-weight: 600;
}

.contact_form_button{
    margin-top: 10px;
}


.contact_info_content {
    padding-left: 17px;
}

.hassubs:hover>ul{
    visibility: visible;
    opacity: 1;
}

.contact_info_title {
    font-weight: 500;
}

.contact_info_text {
    font-size: 12px;
    color: rgba(0,0,0,.5);
}

.contact_info {
    width: 100%;
    padding-top: 100px;
}

.cat_menu li {
    display: block;
    // position: relative;
    width: auto;
    height: 46px;
    border-bottom: solid 1px #f2f2f2;
    padding: 0px 30px 50px 35px;
    white-space: nowrap;
}

.cat_menu li ul {
    display: block;
    // position: absolute;
    // top: 35px;
    // left: 100%;
    // visibility: hidden;
    // opacity: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 10px 25px rgb(0 0 0 / 10%);
}
.cat_menu li a {
    display: block;
    position: relative;
    font-size: 16px;
    font-weight: 300;
    color: #000;
    line-height: 46px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.cat_menu li a i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    font-size: 12px;
}

ul {
    list-style: none;
    margin-bottom: 0;
}

.main_nav_dropdown li {
    margin-right: 35px;
}

.standard_dropdown li a {
    display: block;
    position: relative;
    font-size: 16px;
    font-weight: 300;
    color: #000;
    line-height: 56px;
    white-space: nowrap;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.top_bar_icon {
    display: inline-block;
    margin-right: 14px;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
}

.main_nav_dropdown li li {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 0;
}

.standard_dropdown li li {
    display: block;
    width: 100%;
}

.standard_dropdown li li a {
    /* display: block; */
    display: block;
    width: 100%;
    border-bottom: solid 1px #f2f2f2;
    font-size: 16px;
    /* width: 100%; */
}

.standard_dropdown ul ul {
    left: 100%;
    top: 0!important;
}

.main_nav_dropdown li a {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    line-height: 60px;
    text-decoration: none;
}

.header {
    position: relative;
    width: 100%;
    z-index: 10;
}

.top_bar {
    width: 100%;
    height: 56px;
    background: #fafafa;
    border-bottom: solid 1px rgba(0,0,0,.05);
    z-index: 2;
}


.top_bar_contact_item {
    font-size: 16px;
    font-weight: 300;
    line-height: 56px;
    margin-right: 40px;
}

.top_bar_icon {
    display: inline-block;
    margin-right: 14px;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
}

img {
    vertical-align: middle;
    border-style: none;
}

.top_bar_contact_item a {
    font-size: 16px;
    font-weight: 300;
    line-height: 56px;
    color: #000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.top_bar_menu {
    display: inline-block;
}
.standard_dropdown li {
    display: inline-block;
    position: relative;
    height: 56px;
}
.top_bar_dropdown li {
    padding-left: 13px;
    padding-right: 13px;
}


.standard_dropdown li ul {
    display: block;
    position: absolute;
    padding-top: 20px;
    padding: 20px 10px 20px 10px;
    top: 120%;
    left: 0;
    width: auto;
    visibility: hidden;
    opacity: 0;
    background: #fff;
    box-shadow: 0 10px 25px rgb(0 0 0 / 10%);
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: all .3s ease;
    z-index: 1;
}


// .middle-bar{
//     padding: 30px 0;
// }

.cart_icon img {
    width: 100%;
}

.cart_content {
    margin-left: 28px;
}
.cart_price {
    font-size: 14px;
    color: #a3a3a3;
    margin-top: -2px;
}
.cart_text a {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.cart_count {
    position: absolute;
    bottom: 5px;
    right: -14px;
    width: 23px;
    height: 23px;
    background: $text-color-2;
    border-radius: 50%;
    text-align: center;
}

.cart_count span {
    display: block;
    line-height: 23px;
    font-size: 12px;
    color: #fff;
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
    transform: translateY(1px);
}

.cart_icon{
    margin-top: 5px;
    position: relative;
}

#logo img{
    margin-top: -8px;

}

.banner_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image:url('/images/banner-background.webp');
}

.banner {
    width: 100%;
    padding-top: 68px;
    padding-bottom: 83px;
    overflow: hidden;
    height: auto;
    position: relative;
    height: 550px;
}
