$main-color-green: #5dba23;
$main-color-dark-green: #738D66;
$main-color-orange: #ff7f50;
$main-color-white: #FFF;
$main-color-black: #000;
$main-color-light-gray: #F8F9FA;

$top-navbar-backround: #FAFAFA;
$main-nav-background: #FFF;
$footer-background: #3B3B3B;

$icon-width: 24px;
$icon-height: 24px;

$font-size-normal: 18px;
$font-size-smaller: 15px;

$banner-height: 660px;
$footer-height: 70px;
$top-nav-height: 60px;

$footer-margin-top: 200px;

$main-navbar-and-banner-alignment-col: 340px auto;